@using Gym_pnt1.Models.Entities;
@model Client


<form asp-action="AddUser">

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BirthDate">Birth Date</label>
        <input asp-for="BirthDate" class="form-control" />
    </div>

        <div>
        <label asp-for="MembershipId">MembershipId</label>
        <select asp-for="MembershipId" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
            <option value="0">Gold</option>
            <option value="1">Silver</option>
            <option value="2">Bronze</option>
        </select>
        </div>*/

    <div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
