<div style="display:flex; justify-content:center; flex-direction: column;" class="welcome-container">
    <div style="text-align: center; margin-bottom: 30px; text-decoration:underline;">
        <h1>Bienvenido a Fitness Center</h1>
        <img style="max-width: 400px; " src="https://img.freepik.com/vector-premium/logotipo-letra-barra-logotipo-fitness-gym-diseno-logotipo-vectorial-fitness-gimnasio-fitness_227744-337.jpg" />
    </div>
    <h2 style="text-align: center; text-decoration:underline;">Aquí podrás gestionar todas las funcionalidades del sistema de gestión de Fitness Center</h2>
</div>

   


